**/CMakeFiles
**/Makefile
include/open62541.h
src/open62541.c
cmake_install.cmake
LogIt/
CMakeCache.txt
Release/
*.vcxproj*
*.sln
x64/
*.dir/
.vs/
prepare.pyc
libopen62541-compat.a
libopen62541-compat.so
Debug/
test/googletest/
**/*.swp
**/gtest*.pc
test/open62541-compat-Test
.cproject
.project
.settings/
